.page-top {
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 30px;
  h1 {
    font-size: 43.2px;
    color: #4fbfa8;
    margin-bottom: 20px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .text-muted {
    &:after {
      display: table;
      content: " ";
      height: 1px;
      background: #555;
      position: relative;
      top: 30px;
      margin: 0 auto;
      width: 150px;
      box-sizing: border-box;
      clear: both;
    }
  }
}