.page-top {
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 30px;
  h1 {
    font-size: 43.2px;
    color: #4fbfa8;
    margin-bottom: 20px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .text-muted {
    &:after {
      display: table;
      content: " ";
      height: 1px;
      background: #555;
      position: relative;
      top: 30px;
      margin: 0 auto;
      width: 150px;
      box-sizing: border-box;
      clear: both;
    }
  }
}

.cartContent {
  margin-bottom: 30px;
  .table-responsive {
    display: table;
  }
  .CartProduct {
    border-bottom: 1px solid #E7E9EC;
    td {
      padding: 10px 0;
      text-align: center;
      &:nth-child(2) {
        text-align: left;
      }
    }
    .CartDescription {
      @media (max-width: 480px) {
        a {
          font-size: 14px !important;
          line-height: normal;
        }
      }
    }
    .quantity {
      button {
        border: none;
        margin: 0 1px;
      }
    }
    .price {
      font-size: 15px;
      font-weight: bold;
      color: #454545;
    }
    .delete {
      &:hover {
        color: #4ec67f;
        cursor: pointer;
      }
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
    .quanitySniper {
      padding: 8px 0;
      text-align: center;
      min-width: 45px;
    }
    .box-price {
      width: 15%;
      vertical-align: top;
      padding-top: 30px;
      p {
        margin-bottom: 5px;
      }
      .original-price {
        text-decoration: line-through;
        color: grey;
        font-size: 14px;
      }
      .sale {
        background: #ff9601;
        font-size: 13px;
        color: #fff;
        padding: 2px 4px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
  .cartTableHeader {
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background: #EBEDEF;
  }
}

.box-footer {
  background: #f7f7f7;
  margin-bottom: 30px;
  padding: 20px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #ccc;
}

.right-sidebar {
  .table-block {
    .btn-block {
      text-transform: capitalize;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
}