<div class="container-fluid">
    <div class="col-md-12">
        <div class="row page-top">
            <div class="col-sm-6 offset-sm-3">
                <h1>Shopping Cart</h1>
                <p class="text-muted">You currently have {{ items.length }} items in carts</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-12">
                    <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource" class="example-table">
                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- ID Column -->
                            <ng-container matColumnDef="product">
                                <mat-header-cell *matHeaderCellDef class="example-header-cell"> Product </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="example-cell"> {{row.id}} </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="details">
                                <mat-header-cell *matHeaderCellDef class="example-header-cell"> Details </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="example-cell"> {{row.progress}}% </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef class="example-header-cell"> Quantity </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="example-cell"> {{row.product}}</mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="discount">
                                <mat-header-cell *matHeaderCellDef class="example-header-cell">Discount</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="example-cell"
                                          [style.color]="row.color">
                                    {{row.color}}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns" class="example-header-row"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-row"></mat-row>
                        </mat-table>
                    </div>

                    <div class="cartContent">
                        <table class="cart-table table-responsive">
                            <tbody>
                                <tr class="col-sm-12 CartProduct cartTableHeader">
                                    <td class="col-sm-2"> Product</td>
                                    <td class="col-sm-3">Details</td>
                                    <td class="col-sm-1 delete">&nbsp;</td>
                                    <td class="col-sm-2">QNT</td>
                                    <td class="col-sm-2">Discount</td>
                                    <td class="col-sm-2">Total</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>