<div class="container">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h4>Trending of this month</h4>
                </div>
            </div>
        </div>
        <div class="row products">
            <div class="col-md-3 col-sm-6" *ngFor="let i of [1,2,3,4]">
                <div class="product">
                    <div class="image"><a href="#"><img src="http://hunter.ondrejsvestka.cz/1-2/img/product2.jpg" alt=""
                                                        class="img-responsive"></a>
                        <div class="quick-view-button">
                            <a href="#" data-toggle="modal" id="test"
                               data-target="#product-quick-view-modal"
                               class="btn btn-default btn-sm">
                                Quick view
                            </a>
                        </div>
                    </div>
                    <div class="text">
                        <h3><a href="detail.html">Fur coat</a></h3>
                        <p class="price">$143 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

