<div class="container">
    <div class="col-md-12">
        <div class="row page-top">
            <div class="col-sm-6 offset-sm-3">
                <h1>Ladies</h1>
                <p class="text-muted">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>
            </div>
        </div>
    </div>
    <div class="row">

        <!--Sidebar menu-->
        <div class="col-md-3">
            <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li><a href="category.html">Men</a>
                            <ul class="sub-category-menu">
                                <li> <a href="category.html">T-shirts</a></li>
                                <li><a href="category.html">Shirts</a></li>
                                <li><a href="category.html">Pants</a></li>
                                <li><a href="category.html">Accessories</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="category.html">Girls</a>
                            <ul class="sub-category-menu">
                                <li> <a href="category.html">T-shirts</a></li>
                                <li><a href="category.html">Skirts</a></li>
                                <li><a href="category.html">Pants</a></li>
                                <li><a href="category.html">Accessories</a></li>
                            </ul>
                        </li>
                        <li><a href="category.html">Kids</a>
                            <ul class="sub-category-menu">
                                <li> <a href="category.html">T-shirts</a></li>
                                <li><a href="category.html">Skirts</a></li>
                                <li><a href="category.html">Pants</a></li>
                                <li><a href="category.html">Accessories</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Main content-->
        <div class="col-md-9">
            <div class="info-bar">
                <div class="row">
                    <div class="col-sm-12 products-number-sort">
                        <div class="row">
                            <div class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <strong>Show</strong>
                                        <button class="btn btn-default btn-sm" [ngClass]="{ 'btn-primary': itemsPerPage === 12 }" (click)="itemsPerPage = 12">12</button>
                                        <button class="btn btn-default btn-sm" [ngClass]="{ 'btn-primary': itemsPerPage === 24 }" (click)="itemsPerPage = 24">24</button>
                                        <button class="btn btn-default btn-sm" [ngClass]="{ 'btn-primary': itemsPerPage === 48 }" (click)="itemsPerPage = 48">48</button>
                                        <span class="hidden-md">products</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by"><strong>Sort by</strong>
                                        <select name="sort-by" class="form-control"><option>Price</option><option>Name</option><option>Sales first</option></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row products">
                <div class="col-md-4 col-sm-6" *ngFor="let product of productDetails | paginate: {itemsPerPage: 3, currentPage: p}">
                    <div class="product" (click)="goToProductDetails(product)">
                        <div class="image">
                            <a >
                                <img src="http://hunter.ondrejsvestka.cz/1-2/img/product2.jpg"
                                    class="img-responsive">
                            </a>
                            <div class="quick-view-button" (click)="open(content, product, $event)">
                                <a title="Expand" type="button" data-toggle="modal"
                                   data-target="#preview-product-modal"
                                   class="btn btn-default btn-sm">
                                    Quick view
                                </a>
                            </div>
                        </div>
                        <div class="text">
                            <p class="brand">
                                <a>{{ product.shortName }}</a>
                            </p>
                            <h3><a href="detail.html">{{ product.fullName }}</a></h3>
                            <p class="price">{{ product.price | currency:'USD':true }} </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-12 text-center pagination-control">
                    <pagination-controls previousLabel=""
                                         nextLabel=""
                                         (pageChange)="p = $event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="modal fade quick-view-modal" id="preview-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-body">
            <div class="row quick-view product-main">
                <div class="col-sm-6">
                    <div class="quick-view-main-image"><img [src]="selectedImage" class="img-responsive"></div>
                    <div class="ribbon ribbon-quick-view sale" *ngIf="previewProduct.onSale">
                        <div class="theribbon">SALE</div>
                    </div>
                    <!-- /.ribbon-->
                    <div class="ribbon ribbon-quick-view new" *ngIf="previewProduct.isNew">
                        <div class="theribbon">NEW</div>
                    </div>
                    <!-- /.ribbon-->
                    <div class="row thumbs">
                        <div class="col-4" *ngFor="let detailImage of previewProduct.extraImages">
                            <a class="thumb" (click)="displayImage(detailImage)" [ngClass]="{'active': detailImage === selectedImage}">
                                <img class="img-responsive" [src]="detailImage">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 margin-top-40">
                    <h2 class="product__heading">{{ previewProduct.shortName }}</h2>
                    <p class="text-muted text-small text-center">{{ previewProduct.description }}</p>
                    <div class="box">
                        <form>
                            <p class="price">{{ previewProduct.price | currency: 'USD': true}}</p>
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <div class="form-group">
                                        <label for="modal_size">Choose your size</label>
                                        <select id="modal_size" name="size" class="form-control" [(ngModel)]="previewProduct.selectedSize">
                                            <option *ngFor="let option of previewProduct.availableSizes; let i = index" [value]="previewProduct.selectedSize" [selected]="option == 'Small'">
                                                {{ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="modal_quantity">Quantity</label>
                                        <input type="number" value="1" id="modal_quantity" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>
                                <button type="submit" data-toggle="tooltip" data-placement="top" title="" class="btn btn-default" data-original-title="Add to wishlist"><i class="fa fa-heart-o"></i></button>
                            </p>
                        </form>
                    </div>
                    <!-- /.box-->
                   <!-- <div class="quick-view-social">
                        <h4>Show it to your friends</h4>
                        <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                    </div>-->
                </div>
            </div>
        </div>
    </ng-template>

</div>