<div class="container">
    
    <div class="row product-main">
        <div class="col-md-6">
            <div class="main-image">
                <img [imageZoom]="selectedImage"
                     [lensStyle]="'LENS'"
                     [minZoomLevel]="0.4"
                     [scrollZoom]="false"
                     [delay]="200"
                     [src]="selectedImage"
                     class="img-responsive">
            </div>
            <div class="ribbon ribbon-quick-view sale" *ngIf="productDetails.onSale">
                <div class="theribbon">SALE</div>
            </div>
            <!-- /.ribbon-->
            <div class="ribbon ribbon-quick-view new" *ngIf="productDetails.isNew">
                <div class="theribbon">NEW</div>
            </div>
            <!-- /.ribbon-->
            <div class="sp-thumbs">
                <a *ngFor="let detailImage of productDetails.extraImages" class="thumb" (click)="displayImage(detailImage)" [ngClass]="{'active': detailImage === selectedImage}">
                    <img class="img-responsive" [src]="detailImage">
                </a>
            </div>
        </div>
        <div class="col-md-5 offset-md-1">
            <h2 class="product__heading">{{ productDetails.shortName }}</h2>
            <p class="text-muted text-small text-center">{{ productDetails.description }}</p>
            <div class="box">
                <form>
                    <h2 class="status">{{ productDetails.status }}</h2>
                    <p class="price">{{ productDetails.price | currency: 'USD': true}}</p>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label for="modal_size">Choose your size</label>
                                <select id="modal_size" name="size" class="form-control" [(ngModel)]="productDetails.selectedSize">
                                    <option *ngFor="let option of productDetails.availableSizes; let i = index" [value]="productDetails.selectedSize" [selected]="option == 'Small'">
                                        {{ option }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modal_quantity">Quantity</label>
                                <input type="number" value="1" id="modal_quantity" class="form-control">
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>
                        <button type="submit" data-toggle="tooltip" data-placement="top" title="" class="btn btn-default" data-original-title="Add to wishlist"><i class="fa fa-heart-o"></i></button>
                    </p>
                </form>

            </div>
            <!-- /.box-->
            <!-- <div class="quick-view-social">
                 <h4>Show it to your friends</h4>
                 <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
             </div>-->
        </div>
        <div class="col-md-5 offset-md-7">
            <div class="product__details">
                <h4>Product details</h4>
                <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                <h4>Material &amp; care</h4>
                <ul>
                    <li>Polyester</li>
                    <li>Machine wash</li>
                </ul>
                <h4>Size and fit</h4>
                <ul>
                    <li>Regular fit</li>
                    <li>The model (height 5'8" and chest 33") is wearing a size S  </li>
                </ul>
                <blockquote>
                    <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em></p>
                </blockquote>
            </div>
        </div>
    </div>
   <div class="row carousel">
       <div class="col-1">
           <button class="carousel-nav"><i class="fa fa-chevron-left" aria-hidden="true" (click)="owl.previous()"></i></button>
       </div>
       <div class="col-10">
           <owl-carousel #owl
           [options]="carouselOptions"
           [items]="productDetails.extraImages"
           [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
           <div class="item deal-slide" *ngFor="let image of productDetails.extraImages;let i = index">
               <div class="coupons-div" style="cursor:pointer;">
                <img class="deals-image" src="{{image}}"/><br/>
               </div>
           </div>
           </owl-carousel>
       </div>
       <div class="col-1">
           <button class="carousel-nav"><i (click)="owl.next()" class="fa fa-chevron-right" aria-hidden="true"></i></button>
       </div>
   </div>
</div>