.topbar {
  background: #eee;
  padding: 20px 0;
  box-shadow: 0 1px 5px #ccc;
  .topbar__search {
    margin-top: 44px;
    text-align: right;
    .btn {
      background-color: transparent;
    }
    .form-control {
      border: solid 1px transparent;
      border-bottom: solid 1px #555;
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: .1em;
      background: #eee;
      font-size: 12px;
      text-align: left;
    }
  }

  .topbar__logo {
    text-align: center;
    @media (max-width:767px){
      .topbar__logo__normal{
        display:none
      }
    }
    @media (min-width:768px){
      .topbar__logo__small{
        display:none
      }
    }
  }
  .topbar__cart {
    margin-top: 44px;
    text-align: left;
    .btn-transparent {
      color: #555;
      background-color: transparent;
      border-color: #555;
      &:hover {
        background: #4fbfa8;
        color: #fff;
      }
    }
  }
}

.intro {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  height: 90%;
  height: calc(100% - 160px);
  min-height: 600px;
  text-align: center;
  color: #fff;
  &.image-background {
    background: url(http://hunter.ondrejsvestka.cz/1-2/img/intro1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
  }
  .content {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(0, 50%);
    h1, .h1, h2, .h2 {
      font-family: "Montserrat",Helvetica,Arial,sans-serif;
      font-weight: 900;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: .1em;
      text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    }
    p {
      font-family: 'Raleway',sans-serif;
      line-height: 1.42857143;
      font-size: 16px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    }
    .btn-white {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
      font-weight: 600;
    }
    @media (min-width: 1200px) {
      h2 {
        font-size: 2.25em;
      }
      .h1 {
        font-size: 2em ;
      }
      p {
        font-size: 18px;
      }
    }
  }

}


.navbar {
  .navbar-header {
    margin-bottom: 15px;
    text-align: center;
    .navbar-toggle {
      border-color: #ddd;
    }
  }
  .navbar-collapse {
    position: relative;
    z-index: 1003;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: #fff;
    text-align: center;
    .navbar-nav {
      margin-right: auto;
      margin-left: auto;
      li {
        a{
          color: #777;
        }
      }
    }
  }
}
