.top-header {
  width: 100%;
  float: left;
  background: #000;

  .navbar-default {
    margin-bottom: 0;
    background: #000;
    border: 0;
    .navbar-nav {
      a {
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  .navbar-nav {
    padding-right: 10px;
    flex-direction: row;
    a {
      color: white;
    }
  }
  .nav-item {
    .dropdown-menu {
      .dropdown-item {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333 !important;
        white-space: nowrap;
      }
    }
  }

  .navbar-right {
    &:first-child {
      border-left: 1px solid #444;
    }
    li {
      border-right: 1px solid #444;

      a {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        display: block;
        padding: 10px 15px;

        &:hover {
          text-decoration: none;
          background-color: #eee;
          color: #000;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar-right {
      float: right;
      margin-right: -15px;
    }
  }

  @media (max-width: 768px) {
    background: none;
    .navbar-default {
      background: transparent;
      .navbar-nav {
        li {
          width: 100%;
          text-align: center;
          a {
            color: #333;
            font-size: 18px
          }
        }
      }
    }
    .top-cius {
      padding-right: 0;
      background: #333;
      margin-top: 0;
      margin-bottom: 0;
      .nav-item {
        width: 50%;
      }
    }
  }


}
.end-header {
  float: left;
  width: 100%;
  .endheader-img {
    margin-top: 40px;
    text-align: center;
    @media (max-width: 768px) {
      width: 100%;
      .img-responsive {
        width: 180px;
      }
    }
  }
  img {

    margin: 0 auto;
  }

  .navbar-default {
    margin-top: 30px;
    background: #fff;
    border: 0;
  }
  .navbar-header {
    height: 40px;
    @media (max-width: 768px) {
      background: #FE926C;
      margin-top: 30px;
    }
    .navbar-toggler-button-right {
      position: relative;
      float: right;
      background: transparent;
      color: #ffffff;
      border: none;
      outline: none;
      padding: 5px 7px;
    }
  }
}