<!--Menu-->
<div class="topbar">
    <div class="container">
        <div class="topbar__content row">
            <div class="col-sm-3 offset-sm-1 hidden-sm-down">
                <form class="topbar__search">
                    <div class="input-group"><span class="input-group-btn">
                    <button type="button" class="btn"><i class="fa fa-search"></i></button></span>
                        <input type="text" placeholder="SEARCH" class="form-control">
                    </div>
                </form>
            </div>
            <div class="col-md-4 topbar__logo">
                <a href="index.html">
                    <img src="http://hunter.ondrejsvestka.cz/1-2/img/logo.png" alt="" class="topbar__logo__normal">
                    <img src="http://hunter.ondrejsvestka.cz/1-1/img/logo.png" alt="" class="topbar__logo__small">
                </a>
            </div>
            <div class="col-sm-3 hidden-sm-down">
                <div class="topbar__cart">
                    <a href="#" class="btn btn-transparent">
                        <i class="fa fa-shopping-cart"></i>
                        <span>3 Items in cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--intro section-->
<section id="intro" class="intro image-background">
    <div class="content">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-sm-12">
                    <h2>We are<br><span class="h1">Robert Hunter</span></h2>
                    <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                        eleifend leo. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>
                    <button (click)="scrollTo('#navigation-bar', '#navigation')" class="btn btn-white scroll-to">Start shopping </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Navigation bar-->
<div id="navigation-bar" class="navbar navbar-toggleable-sm navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".collapsed-search" class="navbar-toggler navbar-toggle btn btn-transparent"><i class="fa fa-search"></i></button>
            <a href="basket.html" class="navbar-toggler navbar-toggle btn btn-transparent"><i class="fa fa-shopping-cart"></i></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler navbar-toggle btn btn-transparent"><i class="fa fa-align-justify"></i></button>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/products', 'man']">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="collapsed-search collapse">
            <form>
                <div class="input-group">
                    <input type="text" placeholder="SEARCH" class="form-control"><span class="input-group-btn">
                  <button type="button" class="btn"><i class="fa fa-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</div>
