
<div class="row">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-justified nav-pills">
          <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
            <a (click)="goToStep(step)">
              <i class="fa" ngClass="{{step.icon}}"></i>
              <br/>
              {{step.title}}
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="isCompleted">
    <div class="wizard-control">
      <button type="button" class="btn btn-primary float-left" (click)="previous()" [hidden]="!hasPrevStep || !activeStep.showPrev">Previous</button>
      <button type="button" class="btn btn-primary float-right" (click)="next()" [disabled]="!activeStep.isValid" [hidden]="!hasNextStep || !activeStep.showNext">Next</button>
      <button type="button" class="btn btn-primary float-right" (click)="complete()" [disabled]="!activeStep.isValid" [hidden]="hasNextStep">Done</button>
    </div>
  </div>

