$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}

.pull-right {
  float: right;
}

.no-padding {
  padding: 0;
}

.error {
  color: red;
  margin-top: 5px;
}

.btn {
  font-weight: 700;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 0;
  &:hover {
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
    }
  }
}

.btn-transparent {
  color: #555;
  background-color: transparent;
  border-color: #555;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #4fbfa8;
  background-color: #fff;
  border-color: #4fbfa8;
  &:hover {
    background: #4fbfa8;
    color: #fff;
    border: solid 1px #4fbfa8;

  }
  &:active {
    background: #4fbfa8 !important;
    color: #fff !important;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: initial;
    border-color: initial;

  }
}

.btn-third {
  color: #fff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}

a {
  color: #4fbfa8;
  text-decoration: none;
  &:hover {
    color: #4ec67f;
    cursor: pointer;
  }
}

.image-responsive {
  max-width: 65%;
}

.margin-top-40 {
  margin-top: 40px;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  .cart-total-price {
    color: #4ec67f;
    font-weight: bold;
    font-size: large;
  }

}

.pagination-control {
  .ngx-pagination .current {
    background: #4fbfa8;
  }
}

form-wizard {
  width: 100%;
}

.page-top {
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 30px;
  h1 {
    font-size: 43.2px;
    color: #4fbfa8;
    margin-bottom: 20px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .text-muted {
    &:after {
      display: table;
      content: " ";
      height: 1px;
      background: #555;
      position: relative;
      top: 30px;
      margin: 0 auto;
      width: 150px;
      box-sizing: border-box;
      clear: both;
    }
  }
}

input[type='radio']:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6px solid #4ec67f;
}
