$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}

.pull-right {
  float: right;
}

.no-padding {
  padding: 0;
}

.error {
  color: red;
  margin-top: 5px;
}

.btn {
  font-weight: 700;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 0;
  &:hover {
    cursor: pointer;
    &[disabled] {
      cursor: default;
    }
  }
}

.btn-transparent {
  color: #555;
  background-color: transparent;
  border-color: #555;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #4fbfa8;
  background-color: #fff;
  border-color: #4fbfa8;
  &:hover {
    background: #4fbfa8;
    color: #fff;
    border: solid 1px #4fbfa8;

  }
}

.btn-third {
  color: #fff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}

a {
  color: #4fbfa8;
  text-decoration: none;
  &:hover {
    color: #4ec67f;
    cursor: pointer;
  }
}

.image-responsive {
  max-width: 65%;
}

.margin-top-40 {
  margin-top: 40px;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  .cart-total-price {
    color: #4ec67f;
    font-weight: bold;
    font-size: large;
  }

}